@* @using Services.Helpers;
@model IPagedList<CandidateDTOOutput>
@{
    ViewData["Title"] = "Gestão de inscrições";
    string search = ViewBag.Search ?? null;
    var begin = ViewBag.Begin as DateTime?;
    var end = ViewBag.End as DateTime?;
    var statusId = ViewBag.StatusId as Nullable<int>;
    var provinceId = ViewBag.ProvinceId as Nullable<int>;
    // var statusList = CandidatureStatusExtensions.ToCandidatureStatusArray();
    var exportExcelURl = Url.Action("ExportToExcel", new { search, begin, end, statusId, provinceId });

}

<link href="/css/site.css" rel="stylesheet" />
<script src="/js/site.js" type="text/javascript"> </script>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Pesquisar</h6>
                </div>
                <div class="card-body  pt-0 pb-2">
                    <div class="search-area">
                        <div class="d-flex  align-items-center">
                            <form class="w-100" action="candidaturesManagement" method="get">
                                <div class="row col-md-6">
                                    <div class="input-group ">
                                        <input type="text" class="form-control noOutline" value="@search" name="search" placeholder="Pesquisa por nome, cód, telefone" />
                                        @if (!string.IsNullOrWhiteSpace(search))
                                        {
                                            <a href=@Url.Action("Index", new { page=1}) class="input-group-text text-body" onclick=""> <i class="fas fa-times"></i> </a>
                                        }
                                        <button type="submit" class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></button>
                                    </div>

                                </div>
                            </form>
                            <div class="d-flex gap-5 align-items-center">
                                <buton class="btn-zap d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-form"><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="#fff" d="M14 12v7.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0l-2.01-2.01a.99.99 0 0 1-.29-.83V12h-.03L4.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L14.03 12z" /></svg> Filtrar</buton>
                                <button onclick="exportToExcel()" class="btn-zap d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="#fff" d="M13 9h5.5L13 3.5zM6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2zm3-4v-2H6v2z" /></svg> Exportar</button>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-5">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Código Candidato</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Nome</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Interpreta</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Telefone</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Província</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Estado</th>
                                    <th class="text-end opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-sm-center">
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">@(item.OrderNumber.ToString())</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">@item.Name</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">@item.Singer</p>
                                        </td>
                                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                                            <p class="text-xs font-weight-bold mb-0 text-center">@item.PhoneNumber</p>
                                        </td>
                                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                                            <p class="text-xs font-weight-bold mb-0 text-center">@item.Province</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm @item.StatusCssClass">@item.Status</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="/candidaturesManagement/Details/@item.Id" class="text-secondary font-weight-bold btn-sm btn-zap" data-toggle="tooltip" data-original-title="Ver detalhes">
                                                Ver
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <hr />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = 1, search, begin, end,statusId, provinceId }),
                        new PagedListRenderOptionsBase
                        {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        LinkToFirstPageFormat = "<span class='fa fa-chevron-left text-white'></span><span class='fa fa-chevron-left text-white'></span>",
                        LinkToPreviousPageFormat = "<span class='fa fa-chevron-left text-white'></span>",
                        LinkToNextPageFormat = "<span class='fa fa-chevron-right text-white'></span>",
                        LinkToLastPageFormat = "<span class='fa fa-chevron-right text-white'></span><span class='fa fa-chevron-right text-white'></span>",
                        ContainerDivClasses = new string[] { "d-flex justify-content-end" },
                        UlElementClasses = new string[] { "pagination" },
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link btn-pagination-zap btn-zap h-100" },
                        }
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h4 class="font-weight-bolder text-warning">Buscar candidatos</h4>
                    </div>
                    <div class="card-body">
                        <form method="get" class="form text-left">
                            <label for="status">Etapa</label>
                            <div class="input-group mb-3">
                                <select id="status" name="statusId" class="form-select" value="@statusId">
                                    <option value="0">
                                        Nenhuma
                                    </option>
                                    @foreach (var status in statusList)
                                    {
                                        <option value="@(Array.IndexOf(statusList, status) + 1)" selected="@(statusId == Array.IndexOf(statusList, status) + 1 ? "selected" : null)">
                                            @status.Description
                                        </option>
                                    }
                                </select>
                            </div>
                            <label for="status">Província</label>
                            <div class="input-group mb-3">
                                <select id="provincia" name="provinceId" class="form-select" value="@provinceId">
                                    <option value="0" selected='@(provinceId == 0 ? "selected" : "")'>
                                        Nenhuma
                                    </option>
                                    <option value="1" selected="@(provinceId == 1)">
                                        Luanda
                                    </option>
                                    <option value="3" selected="@(provinceId == 11)">
                                        Benguela
                                    </option>
                                    <option value="10" selected="@(provinceId == 10)">
                                        Huambo
                                    </option>
                                    <option value="11" selected="@(provinceId == 11)">
                                        Huíla
                                    </option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label">Data Início</label>
                                <input class="form-control" type="date" name="begin" value="@begin?.ToString("yyyy-MM-dd")" id="example-date-input">
                            </div>

                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label">Data Término</label>
                                <input class="form-control" type="date" name="end" value="@end?.ToString("yyyy-MM-dd")" id="example-date-input">
                            </div>
                            <div class="text-center">
                                <a href="/candidaturesmanagement" class="btn w-100 mt-4 mb-0">Limpar Filtro</a>
                                <button type="submit" data-bs-dismiss="modal" class="btn-zap w-100 mt-4 mb-0">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('#startDate, #endDate').on('change', function () {
                var startDate = new Date($('#startDate').val());
                var endDate = new Date($('#endDate').val());
                if (startDate > endDate) {
                    alert('A data de início não pode ser maior que a data de término.');
                    $('#startDate').val('');
                    $('#endDate').val('');
                }
            });
        });
        function exportToExcel() {
            // Exibir uma notificação de carregamento enquanto o arquivo Excel está sendo gerado
            Swal.showLoading();
            $.ajax({
                url: '@Html.Raw(exportExcelURl)',
                method: 'GET',
                xhrFields: {
                    responseType: 'blob' // Definir o tipo de resposta como blob
                },
                success: function (data) {
                    // Esconder a notificação de carregamento
                    // Verificar se o retorno é válido
                    if (data) {
                        // Criar um URL para o blob
                        var url = URL.createObjectURL(data);
                        // Criar um link para fazer o download do arquivo Excel
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'candidatos.xlsx';
                        a.style.display = 'none'; // Ocultar o link
                        document.body.appendChild(a);
                        a.click();
                        // Limpar o URL criado para o blob
                        URL.revokeObjectURL(url);
                        // Remover o link após o download
                        document.body.removeChild(a);
                        Swal.close();
                    } else {
                        // Caso contrário, exiba uma mensagem de erro
                        Swal.fire('Erro', 'Ocorreu um erro ao exportar os dados.', 'error');
                    }
                },
                error: function () {
                    // Exibir uma mensagem de erro em caso de falha na solicitação
                    Swal.fire('Erro', 'Ocorreu um erro ao exportar os dados.', 'error');
                }
            });
        }
    </script>
} *@